
h2 {
	font-family:cursive;
	text-align: center;
   }

	 br {
	             display: block; /* makes it have a width */
	             content: ""; /* clears default height */
							 height: 0%;
	             margin-top: -4px; /* change this to whatever height you want it */
	 }

.field {
  	width: 520px;
  	height: 520px;
  	margin: 0 auto;
  	display: flex;
  	flex-wrap: wrap;
    border: 3px solid #640a64;
  	background-color: #e6e6e6
  }
  .excel{
  	width: 40px;
  	height: 40px;
  }

 .snakeBody{
   background: #1e9c76;
   background: cover;
   border-radius: 25%;
 }

 .head{
  background: #084631;
  background: cover;
  }

.food{
  background : no-repeat center url("../img/Cherry.png") ;
  background: cover;
}

.start_button{
	margin: auto;
	border: 3px solid #73AD21;
	width: 100%;
	height: 60px;
}

.start_div{
	margin: auto;
	width: 40%;
	height: 30%;
}

.draggable_block{
	background-color: black;
	width: 100px;
	height: 100px;
}

.script_box{
	background-color: lightgray;
	display:inline-block;
	width: 30px;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.script_itself{
	border-color: black;
	border-width: 8px;
	border-style: outset;

	font-weight: bold;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	font-size: 20px;
	padding: auto;
	background-color: green;
	position: absolute;
	width: 200px;
	height: 60px;
}

.script_edit{
	background-color: white;
	border-color: black;
	border-width: 8px;
	border-style: outset;
	position: absolute;
	top: 60px;
	left: -8px;
	width: 200px;
	height: 30px;
	opacity: 0;
}

.script_edit:hover{
	opacity: 1;
	width: 200px;
	height: 30px;
	visibility: visible;
}

.small_custom_button{
	/* font-size: 40px; */
	/* font-weight: bold; */
	display: inline-flex;
	justify-content: center;
	align-items: center;
	/* margin: 10px; */
	background-color: grey;
	width: 100px;
	height: 30px;
	margin: 0px;
}

.small_custom_button:hover{
	background-color: white;
}

.script_text{
	background-color: red;
	position: absolute;
}

.custom_button{
	border-color: black;
	border-width: 8px;
	border-style: outset;
	font-size: 20px;
	font-weight: bold;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	background-color: grey;
	width: 200px;
	height: 60px;
}

.custom_button:hover{
	background-color: white;
}

.blue{
	background-color: lightblue;
}

.green{
	background-color: lightgreen;
}

.yellow{
	background-color: yellow;
}

.orange{
	background-color: orange;
}

.connections{
	position: absolute;
	left: 0px;
	top: 0px;
	pointer-events: none;
}

#canvas {
	pointer-events: none;
}

.add_script_menu{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
}

.hidden{
	display: none;
}

.new_scripts_field{
	position: fixed;
}

.editor_field{
	/* border-radius: 10px; */
	border-style: outset;
	border-color: black;
	border-width: 8px;
	width: 1500px;
}
